<html>
<head>
<style>
.button {
  background-color: #FF9933;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
}
</style>
</head>
<body>

<h2>Diary Homepage</h2>

<form action="/new_entry">
  <button type="submit" class="button" value="go to address">Add</button>
</form>


</body>
</html>
