<h1>New Entry:</h1>

<form action="/my-handling-form-page" method="post">
 <ul>
  <li>
    <label for="title">Title:</label>
    <input type="text" id="title" name="entry_title">
  </li>
  <li>
    <label for="body">Body:</label>
    <textarea type="text" id="body" name="entry_body"></textarea>
  </li>
 </ul>
 <input type="submit" value="Submit">
</form>